.DS_Store
.tmp/
**/.tmp/
.pnpm-store/
**/.pnpm-store/
node_modules/
**/node_modules/
dist/
**/dist/
build/
**/build/
.next/
**/.next/
.turbo/
**/.turbo/
.cache/
**/.cache/
coverage/
**/coverage/
*.tsbuildinfo
